doctype html 
html(lang="en")
    
    head
        title Task Hive
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light(style= 'position:fixed ;top: 0; left: 0; width: 100%;')
            img(src='/images/logo.png' alt='TaskHive Logo' style='width: 60px; height: 60px; object-fit: cover;')
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(style="display: inline-block; padding: 0 20px;")(href="#") Home
                    li.nav-item
                        a.nav-link(style="display: inline-block; padding: 0 20px;")(href="#") About Us
                    li.nav-item
                        a.nav-link(style="display: inline-block; padding: 0 20px;")(href="#") Contact Us
                ul.navbar-nav.ml-auto
                    li.nav-item.nav-item-button
                        a.btn(href='#' style='background-color: #003249; color: white; font-size: 16px; font-weight:bold ' ) Get Started
                    li.nav-item
                        a.btn(href='#' style=' margin-left: 10px;background-color: #ccdbdc; color: white; font-size: 16px; font-weight:bold') Log In
    main 
        block content


    footer
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            p(style='padding: 10px;') Copyright © TaskHive All rights reserved.