extends layout

block content
  .container
    h1 About Us
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    p Nullam nec consectetur est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    p Cras finibus, lectus eget consequat consequat, metus massa volutpat dolor, id porttitor enim odio a ligula.
    p Vivamus id scelerisque velit, et eleifend massa.
    p Integer feugiat, nibh a sagittis pulvinar, urna sapien ullamcorper ipsum, at tincidunt elit nulla eu lacus.
    p Phasellus quis orci nec velit aliquam tincidunt.
    p Sed facilisis velit urna, at aliquam enim consectetur nec. 
    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.