extends layout 

block content
  style.
 
  main
    main.section1
      h2 Manage Your Task Productively
      p TaskHive is the ultimate task management app that helps you streamline your workflow and get more done in less time.
      a.btn-lg(href='/register' ) Get Started
    main.section2
      h3 Our Features 
      ul
        li
          img(src='/Images/todo-list.gif' alt='Task Icon' )
          h4 Task Lists
          p Organize your tasks into lists to keep track of your projects and priorities.
        li
          img(src='/Images/duedate.png' alt='Date Icon')
          h4 Due Dates
          p Set due dates and reminders for your tasks to stay on track and meet your deadlines.
    main.section3
      ul
        li
          h3 Achievement System
          p Level up your productivity by earning achievements and badges!
            div.level-bar(style="align-items: center; margin-bottom: 40px; background-color: #F1E3E4; height: 10px; border-radius: 5px; max-width:600px ;")
              div.progress(style="width: 70%; height: 100%; border-radius: 5px; background-color: #003249; ")
      ul
        li
          img(src='/Images/trophy.png' alt='Achievement Icon')
          h4 Complete Your First Task
          p Congratulations! You've completed your first task in TaskHive. Keep up the good work!
        li
          img(src='/Images/celebrate.png' alt='Complete Task' )
          h4 Complete 10 Tasks
          p Great job! You've completed 10 tasks in TaskHive. Keep going!
