extends layout

block content
  section.hero
    h2 Get More Done with TaskHive
    p TaskHive is the ultimate task management app that helps you streamline your workflow and get more done in less time.
    a(href="/register" class="cta") Sign Up for Free
  section.features
    h3 Key Features of TaskHive
    ul
      li
        img(src='/images/task-list.png' alt='Task List Icon')
        h4 Task Lists
        p Organize your tasks into lists to keep track of your projects and priorities.
      li
        img(src='/images/due-date.png' alt='Due Date Icon')
        h4 Due Dates
        p Set due dates and reminders for your tasks to stay on track and meet your deadlines.
  section.achievements
    h3 Achievement System
    p Level up your productivity by earning achievements and badges!
    div.level-bar(style="margin-bottom: 40px;")
      div.level-progress(style="width: 75%")
    ul(style="display: flex; list-style: none; justify-content: space-between; align-items: center;")
      li
        img(src='/images/trophy.png' alt='Achievement Icon' style='width: 50px; height: 50px; object-fit: cover;')
        div(style="margin-left: 20px;")
          h4 Complete Your First Task
          p Congratulations! You've completed your first task in TaskHive. Keep up the good work!
      li
        img(src='/images/achive.png' alt='Achievement Icon' style='width: 50px; height: 50px; object-fit: cover;')
        div(style="margin-left: 20px;")
          h4 Complete 10 Tasks
          p Great job! You've completed 10 tasks in TaskHive. Keep going!

  section.testimonials
    h3 What Our Customers Say
    ul
      li
        img(src='/images/avatar1.png' alt='Customer Avatar')
        blockquote "TaskHive has revolutionized the way I manage my tasks. It's easy to use and has all the features I need to stay organized and productive."
        cite - John Doe, Freelance Designer
      li
        img(src='/images/avatar2.png' alt='Customer Avatar')
        blockquote "I love TaskHive! It's a game-changer for me and my team. The collaboration features are especially useful."
        cite - Jane Smith, CEO
