doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", rel="stylesheet")
  body
    nav
      .logo
        a(href= "/")
          img(src='/images/logo.png' alt='TaskHive Logo' style='width: 100px; height: 100px; object-fit: cover;')
      ul.menu
        li
          a(href="#") Contact Us
        li
          a(href="#") About Us
        li
          a(href="/login") Sign In
        li 
          a(href="/register" class="button") Get Started
    main
      block content
    

    footer
      p Copyright © TaskHive All rights reserved.
