doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/")
        img(src='/images/logo.png' alt='TaskHive Logo' style='width: 100px; height: 100px; object-fit: cover;')
      div.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="#") About Us
          li.nav-item
            a.nav-link(href="#") Contact Us
        ul.navbar-nav.ml-auto
          li.nav-item.nav-item-button
            a.btn(href='/register') Get Started
          li.nav-item
            a.btn(href='/login') Log In
    main 
      block content
    footer
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        p Copyright © TaskHive All rights reserved.