extends layout

block content
  h1 Register
  if success
    p Registration successful
  form(method='POST' action='/set-password')
    div
      label(for='firstname') First Name:
      input(type='text' name='firstname' id='firstname' required)
    div
      label(for='lastname') Last Name:
      input(type='text' name='lastname' id='lastname' required)
    div
      label(for='email') Email:
      input(type='email' name='email' id='email' required)
    div
      label(for='password') Password:
      input(type='password' name='password' id='password' required)
    button(type='submit' name='submit') Submit
